{% extends "main.html" %}
{% block content %}
<div class="container">
	<section class="page-not-found">
		<div class="row"style="padding-top:70px;padding-bottom:130px;">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-not-found-main" style="text-align:center;">
					<h2>404 <i class="fa fa-file"></i></h2>
					<p>We're sorry, but the page you were looking for doesn't exist.</p>
				</div>
			</div>
		</div>
	</section>

</div>
{% endblock %}