{% extends "main.html" %}
{% block content %}
<div class="container">
	<section class="page-not-found">
		<div class="row"style="padding-top:70px;padding-bottom:130px;">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-not-found-main" style="text-align:center;">
					<h2>500 <i class="fa fa-file"></i></h2>
					<p class="lead" style="font-size:4em">Sorry...<br></p>
					<p class="lead">We are experiencing an Internal Server Error. <br>Please try again later or contact us at <a href="mailto:info@addax.bz">info@addax.bz</a></p>
				</div>
			</div>
		</div>
	</section>

</div>
{% endblock %}