{% extends "main.html" %}
{% import 'macros.html' as macros %}
{% block content %}
<img class="img-responsive display-inline-block mt-xl" src="/static/img/aboutpic.png" title="Map">
<section class="section section-default"style="margin-top:0px;padding-top:0px;">
    <div class="container">
        <div class="row" style="padding-top:0px; margin-top:0px;">
            <div class="col-md-12">
                <h1 class="mt-lg"><strong>About</strong> ADDAX</h1>         
                <div class="col-md-7">
                    <div class="row left mt-xl">
                        <p class="lead"style="text-align:justify;font-size:1.2em;">
                        Incorporated in Singapore in 1996, Addax Bake Automation has been providing bakery equipment which are well known for their reliability and consistency for our wide range of customers ranging from small single bakeries to large industrial F&B corporations.
                        <br><br>
                        Here at Addax, we place great emphasis on quality service and our service engineers are factory trained to provide our customers with technical support when needed. We specialise in the automatic production of pastries, croissants, pizzas, breads, as well as popular local and Asian products such as "Epok-Epok" and "Roti Prata".
                        <br><br>
                        Be it your interest in quality equipment and service, rationalising your production or increasing bake productivity, Addax is the name to call.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div >
                        <img class="img-responsive mt-xl appear-animation" src="/static/img/addax-logo.png" alt="layout styles" data-appear-animation="fadeInRight"style="padding-top:15%">
                    </div> 
                </div>
                
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mb-md mt-xlg left">
        <div class="col-md-12">
            <div class="col-md-5">
                    <h2>We are the <strong>Exclusive</strong> Agent for:</h2>
                    <div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "autoplay": true, "autoplayTimeout": 3000}'>
                        {% for row in data %}
                            <div>
                                <h1 style="font-weight: bold; text-align:center;">{{row[1]}}</h1>
                            </div>
                        {% endfor %}
                        </div>

            </div>
            <div class="col-md-6 col-md-offset-1">
                <p class="lead"style="text-align:justify;font-size:1.2em;">Here at Addax, 'Quality' and 'Reliability' are the two principles we strongly believe in. We believe that a truly great product is one where our customers are 100% satisfied. We are proud to be the Exclusive Agent in Singapore for some of the best bakery equipment manufactures in the world.</p>
                <p class="lead"><a href="{{url_for('products')}}">View Our Products <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
            </div>
            
            <!--End of Owl carousel-->
        </div>
    </div>
</div>
<section class="section section-default"style="margin:0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="row left mt-xl">
                        <h2 class="mt-lg"><strong>Alliance</strong> Ingredients</h2>         
                        <p class="lead"style="text-align:justify;font-size:1.2em;">
                        While Addax focuses on providing our customers with leading bakery equipment, we work closely with <a href="http://www.candyhelp.com">Alliance Ingredients Company Limited</a>. As a boutique flavoured paste manufacturer, Alliance Ingredients specialises in designing and producing unique flavoured pastes for confectionery and baking industries. This strong exclusive relationship benefits our customers to grow their company by creating innovative and consistent bake products.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <a href="http://www.candyhelp.com">
                        <img class="img-responsive mt-xl appear-animation" src="/static/img/candyhelplogo.png" alt="layout styles" data-appear-animation="fadeInUp"style="padding-top:15%">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}