{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Add New Products
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="/admin_products" method="Post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.name.label }}
                                {{ form.name(class="form-control") }}
                            </div>    
                            <div class="form-group">
                                {{ form.description.label }}
                                {{ form.description(class="form-control") }}
                            </div>   
                            <div class="form-group">
                                {{ form.upload_image.label }}
                                {{ form.upload_image(class="form-control") }}
                            </div>  
                            <div class="form-group">
                                {{ form.upload_catalogue.label }}
                                {{ form.upload_catalogue(class="form-control") }}
                            </div>  
                            <div class="form-group">
                                {{ form.upload_manual.label }}
                                {{ form.upload_manual(class="form-control") }}
                            </div>  
                            <div class="form-group">
                                {{ form.brand.label }}
                                {{ form.brand(class="form-control") }}
                            </div> 
                            <div class="form-group">
                                {{ form.category.label }}
                                {{ form.category(class="form-control") }}
                            </div>       
                            <div class="form-group">
                                {{ form.display_id.label }}
                                {{ form.display_id(class="form-control") }}
                            </div>  
                            <div class="form-group">
                                {{form.submit(class="btn btn-success btn-sm")}}
                            </div>                    
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <ol>
                        <h4>Existing Products</h4>
                        {% for brand in brand_data %}
                            {% for row in data : %}
                            {% if row[8]|int == brand[0] %}

                                {% if row[9] != None: %}
                                    <li value="{{row[9]}}"><a href="{{url_for('update_products', xx=row[0])}}">{{brand[1]}} - {{row[1]}}</a></li>
                                {% else: %}
                                    <li value="0"><a href="{{url_for('update_products', xx=row[0])}}">{{brand[1]}} - {{row[1]}}</a></li>
                                {% endif %}
                            {% endif %}

                            {% endfor %}   

                        {% endfor %}
                                                 

                        </ol>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}