<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <!-- Bootstrap Core CSS -->    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/bower_components/metisMenu/dist/metisMenu.min.css') }}">

    <!-- Timeline CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/dist/css/timeline.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/dist/css/sb-admin-2.css') }}">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/bower_components/morrisjs/morris.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_layout/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin_panel"><img alt="addax" height="30" src="/static/img/logo.png"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li> 
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/admin_panel"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/admin_brands"><i class="fa fa-sitemap fa-fw"></i>Brands</a>
                        </li>
                        <li>
                            <a href="/admin_categories"><i class="fa fa-th-large fa-fw"></i>Categories</a>
                        </li>
                        <li>
                            <a href="/admin_featured_brands"><i class="fa fa-star fa-fw"></i>Featured Brands</a>
                        </li>
                        <li>
                            <a href="/admin_featured_products"><i class="fa fa-star fa-fw"></i>Featured Products</a>
                        </li>
                        <li>
                            <a href="/admin_products"><i class="fa fa-rocket fa-fw"></i>Products</a>
                        </li>
                        <li>
                            <a href="/update_password"><i class="fa fa-lock fa-fw"></i>Update Password</a>
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-cube fa-fw"></i> View Website</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <!-- errors -->
            {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}

            <!-- child templates -->
            {% block content %}{% endblock %}
        </div>

        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/admin_layout/bower_components/jquery/dist/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="static/admin_layout/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="static/admin_layout/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="static/admin_layout/bower_components/raphael/raphael-min.js"></script>
    <script src="static/admin_layout/bower_components/morrisjs/morris.min.js"></script>
    <script src="static/admin_layout/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/admin_layout/dist/js/sb-admin-2.js"></script>
</body>
</html>
