{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Brands</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Add New Brands
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="/admin_brands" method="Post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.name.label }}
                                {{ form.name(class="form-control") }}
                            </div> 
                            <div class="form-group">
                                {{ form.slogan.label }}
                                {{ form.slogan(class="form-control") }}
                            </div> 
                            <div class="form-group">
                                {{ form.description.label }}
                                {{ form.description(class="form-control") }}
                            </div>   
                            <div class="form-group">
                                {{ form.upload.label }}
                                {{ form.upload(class="form-control") }}
                            </div>   
                            <div class="form-group">
                                {{ form.display_id.label }}
                                {{ form.display_id(class="form-control") }}
                            </div>      
                            <div class="form-group">
                                {{form.submit(class="btn btn-success btn-sm")}}
                            </div>                    
                        </form>

                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-5 col-md-offset-1">
                        <ol>
                        <h4>Existing Brands</h4>
                        {% for row in data : %}
                        {% if row[6] != None: %}
                            <li value="{{row[6]}}"><a href="{{url_for('update_brands', xx=row[0])}}">{{row[1]}}</a></li>
                        {% else: %}
                            <li value="0"><a href="{{url_for('update_brands', xx=row[0])}}">{{row[1]}}</a></li>
                        {% endif %}
                        {% endfor %}                            

                        </ol>
                    </div>


                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}