{% extends "admin_template.html" %}
{% block content %}
<div class="row">
	<p class="lead"style="text-align:center; font-size:2.5em; margin-top: 3.0em;">Welcome to the admin panel</p>
</div>

    
{% endblock %}