{% extends "main.html" %}
{% block content %}
<div role="main" class="main">
    <section class="section section-default">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="mt-lg"><strong>Brands</strong> we carry</h1>
					<p class="lead"style="text-align:justify;">
						At Addax, we are focused on finding the best bake automation equipment for our customers in every step of the baking process. This is to ensure that they enjoy consistent and quality results with their bake products. We achieve this by working with different global principals which manufacture the highest quality machinery in their areas of specialty.  
						<br><br>
						View our brands below <i class="fa fa-caret-down" aria-hidden="true"></i>
					</p>
					
					<div class="header-search">
						<!-- flash messages -->
						<!--
	                    {% for message in get_flashed_messages() %}
	                        <p class="text-success">{{message}}</p>
	                    {% endfor %}
						<form id="searchForm" action="{{url_for('search_products')}}" method="Post" enctype="multipart/form-data">
							<div class="input-group">
								{{ form.hidden_tag() }}
                                {{ form.search_product(class="form-control") }}
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</form>
						-->
						<!--
						<p class="lead">
							<a href=" {{url_for('products_glossary')}} ">
								View our brands below <i class="fa fa-caret-right"></i>
							</a>
						</p>
					-->
					</div>

					
				</div>
				<div class="col-md-4 mt-lg">
					
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<br class="tall">
		{% for row in data : %}
	    <div class="row">
	    	<a href="/products_by_brands/{{row[0]}}">
				<div class="col-md-3 col-xs-12">
					<p style="text-align:center"><img src="/uploads/{{row[5]}}" style="max-width:100%; max-height:100%;"></p>
				</div>
				<div class="col-md-9 col-xs-12">
					<h3><strong>{{row[1]}}</strong> - <span class="lead">{{row[2]}}</span></h3>
					<p style="text-align:justify;"> {{row[3]}} </p>
				</div>
			</a>
		</div>
		{% if row != data[-1] %}
			<hr class="">
		{% endif %}
		<br>
		{% endfor %}
	</div>	
</div>
{% endblock %}
