{% extends "main.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <!-- Google Maps -->
    <div id="googlemaps" class="google-map mt-none mb-sm"></div>
    <section id="contact">
        <div class="container">
            <div class="row mt-xlg">
                <div class="col-md-6">
                    <h2 class="mb-sm mt-sm"><strong>Contact</strong> Us</h2>
                    <!-- flash messages -->
                    {% for message in get_flashed_messages() %}
                        <p class="text-success">{{message}}</p>
                    {% endfor %}

                    <form action="{{url_for('contact')}}" method="Post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{ macros.render_field(form.name, label_visible=false, placeholder='Name', type='text') }}  
                                </div>
                                <div class="col-md-6">
                                    {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email') }}  
                                </div>
                                <div class="col-md-12">
                                    {{ macros.render_field(form.subject, label_visible=false, placeholder='Subject', type='text') }}  
                                </div>
                                <div class="col-md-12">
                                    {{ macros.render_field(form.message, label_visible=false, placeholder='Message', type='message', maxlength="5000", rows="10") }}  
                                </div>
                                <div class="col-md-12">
                                    {{ macros.render_field(form.submit, label_visible=false, placeholder='Submit', type='submit', class="btn btn-primary mb-xlg") }}  
                                </div>
                            </div>
                        </div>    
                    </form>
                    <!-- End of Contact Form -->
                </div>
                <div class="col-md-6">
                    <h4 class="heading-primary mt-lg">Get in <strong>Touch</strong> with us</h4>
                    <p>If you have any queries about our services or products do not hesitate to contact us directly or through our web form.</p>

                    <hr>

                    <h4 class="heading-primary">Our <strong>Office</strong></h4>
                    <ul class="list list-icons list-icons-style-3 mt-xlg">
                        <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 47 Jalan Pemimpin, #04-01 Sin Cheong Building, Singapore 577200</li>
                        <li><i class="fa fa-phone"></i> <strong>Phone:</strong> +65 6258 1891</li>
                        <li><i class="fa fa-phone"></i> <strong>Mobile:</strong> +65 818 702057</li>
                        <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">info@addax.bz</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
{% endblock %}