{% extends "main.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <!-- Google Maps -->
    <div id="googlemaps" class="google-map mt-none mb-sm"></div>
    <section id="contact">
        <div class="container">
            <div class="row mt-xlg">     
                <div class="featured-boxes">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h2><strong>Contact</strong> Us</h2>
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-primary featured-box-effect-1 mt-xlg">
                                    <div class="box-content">
                                        <a href="https://goo.gl/maps/bXZaCuRSREw" target="_blank"><i class="icon-featured fa fa-map-marker"></i></a>
                                        <h4 class="text-uppercase">Address</h4>
                                        <p style="font-size:1.2em;"><a href="https://goo.gl/maps/bXZaCuRSREw" target="_blank">47 Jalan Pemimpin, #04-01 Halcyon II, Singapore 577200</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-secondary featured-box-effect-1 mt-xlg">
                                    <div class="box-content">
                                        <a href="tel:+6562581891"><i class="icon-featured fa fa-phone"></i></a>
                                        <h4 class="text-uppercase">Phone</h4>
                                        <p style="font-size:1.2em;"><a href="tel:+6562581891">+65 6258 1891</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-tertiary featured-box-effect-1 mt-xlg">
                                    <div class="box-content">
                                        <a href="tel:+65818702057"><i class="icon-featured fa fa-mobile"></i></a>
                                        <h4 class="text-uppercase">Mobile</h4>
                                        <p style="font-size:1.2em;"><a href="tel:+6596325680">+65 9632 5680</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-quaternary featured-box-effect-1 mt-xlg">
                                    <div class="box-content">
                                        <a href="mailto:info@addax.bz"><i class="icon-featured fa fa-envelope"></i></a>
                                        <h4 class="text-uppercase">Email</h4>
                                        <p style="font-size:1.2em;"><a href="mailto:info@addax.bz">info@addax.bz</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}