{% extends "main.html" %}
{% block content %}
    <br>
	<div role="main" class="main">
		<div class="slider-container rev_slider_wrapper">
			<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": 500, "gridheight": 400, "navigation": { "arrows": { "enable": false } }}'>

				<ul>
					<li data-transition="fade">
						<img src="video/landing.jpeg"  
							alt=""
							data-bgposition="center center" 
							data-bgfit="cover" 
							data-bgrepeat="no-repeat" 
							class="rev-slidebg">

						<div class="tp-caption featured-label dynamic-text"
							data-x="center"
							data-y="center" data-voffset="-30"
							data-start="500"
							style="z-index: 5"
							data-transform_in="y:[100%];s:500;"
							data-transform_out="opacity:0;s:500;">WELCOME TO ADDAX</div>

						<div class="tp-caption bottom-label dynamic-text"
							data-x="center"
							data-y="center" data-voffset="35"
							data-start="1000"
							data-transform_idle="o:1;"
							data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
							data-transform_out="opacity:0;s:500;"
							data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							data-splitin="chars" 
							data-splitout="none" 
							data-responsive_offset="on"
							style="font-size: 23px; line-height: 70px; z-index: 5;"
							data-elementdelay="0.05">Finest leading brands in bake automation</div>

						<div class="tp-dottedoverlay tp-opacity-overlay"></div>
							
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="row mb-md mt-xlg center">
				<div class="col-md-12">
					<h2 style="padding-bottom:0px;margin-bottom:0px;">Exclusive Agent in Singapore for</h2>
					<div class="row center mt-xl" style="margin-top:0px; height: 100px;">
						<div class="owl-carousel owl-theme" data-plugin-options='{"items": 3, "autoplay": true, "autoplayTimeout": 3000}'>
						{% for row in data %}
							<div>
								<h2 style="font-weight: bold;">{{row[1]}}</h2>
							</div>
						{% endfor %}
						</div>
					</div>
					<!--End of Owl carousel-->
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mt-xlg center">
				<div class="col-md-12">
					<h1 class="mb-sm word-rotator-title">
						Providing
						<strong class="inverted">
							<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
								<span class="word-rotate-items">
									<span>reliable</span>
									<span>high quality</span>
								</span>
							</span>
						</strong>
						bakery equipment since 1985
					</h1>
					<br>
					<p class="lead"style="padding-bottom:0px;margin-bottom:0px;">
						With over <strong>three decades</strong> of experience in automated production lines
					</p>
					<p style="font-size:1.2em;padding:0px; margin:0px;">
						Your one stop shop for quality bakery equipment and services.
					</p>
					<br>
					<p class="lead"><a href="{{url_for('about')}}">About Addax <i class="fa fa-caret-right"></i></a></p>
				</div>
			</div>
		</div>
		<img class="img-responsive display-inline-block mt-xl" src="/static/img/bakery-banner.png" title="Map">
		<div class="container">
			<!--
			<div class="row">
				<div class="col-md-12 center mt-xl">
					<hr class="solid mt-none mb-xl">
					<img class="img-responsive display-inline-block mt-xl" src="/static/img/map-color-2.png" title="Map">
				</div>
			</div>
		-->
			<div class="row">
				<div class="col-md-12">
					<br>
					<h2>For more <strong>information</strong></h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
						<div class="feature-box-icon">
							<i class="icon-energy icons"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-sm">About Us</h4>
							<p class="mb-lg">
								Incorporated in 1996, Addax Bake Automation has been providing bakery equipment which are well known for their reliability and high quality for the smallest bakery to large industrial bakeries. <br>
								<a href="{{url_for('about')}}">About ADDAX <i class="fa fa-caret-right"></i></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
						<div class="feature-box-icon">
							<i class="icon-wrench icons"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-sm">Our Brands</h4>
							<p class="mb-lg">To cater to the need of our customers for the smallest bakery to large industrial bakeries, we carry a wide range of equipment ranging from industrial ovens to large production lines. <br>
							<a href="{{url_for('brands')}}">More about our brands <i class="fa fa-caret-right"></i></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
						<div class="feature-box-icon">
							<i class="icon-users icons"></i>
						</div>
						<div class="feature-box-info">
							<h4 class="mb-sm">Contact Us</h4>
							<p class="mb-lg">If you have any enquires about the services and products do not hesitate to conatct us. <br>
							<a href="{{url_for('contact_us')}}">Contact Us <i class="fa fa-caret-right"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

			
	</div>

{% endblock %}
