<!DOCTYPE html>
<html>
    <head>

        <!-- Basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   

        <title>Addax Bake Automation</title>    

        <meta name="keywords" content="Addax Bake Automation" />
        <meta name="description" content="We are the exclusive agent in Singapore for the finest leading bakery equipment: Rondo; Revent; Watchel; Panem; VMI; Mono Equipment; COMAS; Beldos; Shuffle-Mix; STM; TriMa">
        <meta name="author" content="Addax">

        <!-- Favicon -->
        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
        <link rel="stylesheet" href="static/vendor/owl.carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="/static/css/theme.css">
        <link rel="stylesheet" href="/static/css/theme-elements.css">
        <link rel="stylesheet" href="/static/css/theme-blog.css">
        <link rel="stylesheet" href="/static/css/theme-shop.css">
        <link rel="stylesheet" href="/static/css/theme-animate.css">

        <!-- Current Page CSS -->
        <link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css" media="screen">
        <link rel="stylesheet" href="/static/vendor/rs-plugin/css/layers.css" media="screen">
        <link rel="stylesheet" href="/static/vendor/rs-plugin/css/navigation.css" media="screen"> 

        <link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css" media="screen">

        <!-- Skin CSS -->
        <link rel="stylesheet" href="/static/css/skins/default.css">
        <link rel="stylesheet" type="text/css" href="/static/css/skins/skin-corporate-7.css">

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="/static/css/custom.css">

        <!-- Head Libs -->
        <script src="/static/vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <div class="body">
            <header id="header" class="header-mobile-nav-only" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
                <div class="header-body">
                    <div class="header-container container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-logo">
                                    <a href="{{ url_for('index') }}">
                                        <img alt="addax" height="54" data-sticky-height="40" data-sticky-top="33" src="/static/img/addax-logo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="header-column">
                                <div class="header-row">
                                    <div class="header-nav header-nav-top-line">
                                        <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                                            <nav>
                                                <ul class="nav nav-pills" id="mainNav">
                                                    <li>
                                                        <a href="/">
                                                            Home
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('about')}}">
                                                            About
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" href="{{url_for('brands')}}">
                                                            Brands
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            {% for row in brand_link_data : %}
                                                            <li><a href="{{url_for('products_by_brands', brand_id=row[0])}}">{{row[1]}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" href="{{url_for('products')}}">
                                                            Products
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="{{url_for('products_glossary')}}">All Products</a></li>
                                                            
                                                            {% for keys in display_products %}
                                                                <li><a href="{{url_for('products_by_brands', brand_id=display_products[keys])}}">{{keys}}</a></li>
                                                            {% endfor %}

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="{{url_for('contact_us')}}">
                                                            Contact
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div role="main" class="main" id="home">
                <!-- errors -->
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}

                <!-- child templates -->
                {% block content %}{% endblock %}
            </div>  

            <footer class="short" id="footer">
                <div class="footer-copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>© Copyright 2016. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Vendor -->
        <script src="/static/vendor/jquery/jquery.js"></script>
        <!--<![endif]-->
        <script src="/static/vendor/jquery.appear/jquery.appear.js"></script>
        <script src="/static/vendor/jquery.easing/jquery.easing.js"></script>
        <script src="/static/vendor/jquery-cookie/jquery-cookie.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="/static/vendor/common/common.js"></script>
        <script src="/static/vendor/jquery.validation/jquery.validation.js"></script>
        <script src="/static/vendor/jquery.stellar/jquery.stellar.js"></script>
        <script src="/static/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script src="/static/vendor/jquery.gmap/jquery.gmap.js"></script>
        <script src="/static/vendor/jquery.lazyload/jquery.lazyload.js"></script>
        <script src="/static/vendor/isotope/jquery.isotope.js"></script>
        <script src="/static/vendor/owl.carousel/owl.carousel.js"></script>
        <script src="/static/vendor/magnific-popup/jquery.magnific-popup.js"></script>
        <script src="/static/vendor/vide/vide.js"></script>
        
        <!-- Theme Base, Components and Settings -->
        <script src="/static/js/theme.js"></script>
        
        <!-- Specific Page Vendor and Views -->
        <script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
        
        <script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
        <script src="/static/js/views/view.home.js"></script>
        <script src="/static/js/views/view.contact.js"></script>
        
        <!-- Theme Custom -->
        <script src="/static/js/custom.js"></script>
        <!-- Theme Initialization Files -->
        <script src="/static/js/theme.init.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>
            /*
            Map Settings

                Find the Latitude and Longitude of your address:
                    - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
                    - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/
            */

            // Map Markers
            var mapMarkers = [{
                address: "47 Jln Pemimpin, Singapore 577200",
                html: "47 Jln Pemimpin, Singapore 577200",
                icon: {
                    image: "img/pin.png",
                    iconsize: [26, 46],
                    iconanchor: [12, 46]
                },
                popup: true
            }];

            // Map Initial Location
            var initLatitude = 1.34998;
            var initLongitude = 103.84116;

            // Map Extended Settings
            var mapSettings = {
                controls: {
                    draggable: (($.browser.mobile) ? false : true),
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true
                },
                scrollwheel: false,
                markers: mapMarkers,
                latitude: initLatitude,
                longitude: initLongitude,
                zoom: 16
            };

            var map = $("#googlemaps").gMap(mapSettings);

            // Map Center At
            var mapCenterAt = function(options, e) {
                e.preventDefault();
                $("#googlemaps").gMap("centerAt", options);
            }

        </script>
        <script type="text/javascript">
            
            jQuery(document).ready(function(){
                jQuery('#more-services').on('click', function(event) {        
                     jQuery('#content').toggle('show');
                });
            });
            function hide(target) {
                document.getElementById(target).style.display = 'none';
            }
            
        </script>
    </body>
</html>
