{% extends "main.html" %}
{% block content %}
<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<hr class="tall">
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2 style="margin-bottom:50px; ">View <strong>All</strong> Products</h2> 
				{% for brand in brand_data: %}
				<div class="col-md-3" style="padding-bottom:15px;margin-bottom:15px;">
					<h1 style="padding-bottom:0px;margin-bottom:0px;">{{brand[1]}}</h1>
					<ul class="list list-icons list-primary list-side-borders mt-xlg" style="padding-left:0px;margin-left:0px;">
					{% for product in product_data %}
						{% if product[8] == brand[0]|string %}
						<li><a href="{{url_for('product',product_id=product[0])}}">{{product[1]}}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
				{% endfor %}


				
			</div>
		</div>
	</div>

</div>
{% endblock %}