{% extends "main.html" %}
{% block content %}
<div role="main" class="main">
    <section class="section section-default">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="mt-lg"><strong>Products</strong> we carry</h1>
					<p class="lead"style="text-align:justify;">
						Our wide range of products cater to your needs at every step of the baking process – from mixing the dough thoroughly with high consistency to vacuum cooling your freshly baked products to save you precious time and space. Our automation solutions seek to improve productivity and baked results for you.
						<br><br>
						View our products below <i class="fa fa-caret-down" aria-hidden="true"></i>
					</p>
					
				</div>
				<div class="col-md-4 mt-lg">
					
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<br class="tall">
		{% for featured_brand in featured_brands_data : %}
	    <div class="row">
	    	<a href="{{url_for('products_by_brands', brand_id=featured_brand[3])}}">
				<div class="col-md-3 col-xs-12">
					<!-- Display Brand Logo -->
					{% for brand in brands_data: %}
						{% if featured_brand[3] == brand[0]|string: %}
							<p style="position: relative; padding-top: 25%;"><img src="/uploads/{{brand[5]}}" style="max-width:100%; max-height:100%;"></p>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col-md-9 col-xs-12">
					<!-- Display Featured Product Image -->
					{% if featured_brand[4] != None: %}
					<p style="text-align:center"><img src="/uploads/{{featured_brand[4]}}" style="max-width:100%; max-height:100%;"></p>
					{% endif %}
				</div>
			<!--</a>-->
		</div>
		{% if featured_brand != featured_brands_data[-1] %}
			<hr class="">
		{% endif %}
		<br>
		{% endfor %}
	</div>	
</div>
{% endblock %}
