{% extends "main.html" %}
{% block content %}
<div role="main" class="main">
	{% for row in brand_data: %}
    <section class="parallax section section-parallax ">
    	<div class="container">
	    	<div class="col-md-3 col-xs-12">
				<p style="text-align:center; padding-bottom:0px;margin-bottom:0px;"><img src="/uploads/{{row[5]}}" style="max-width:100%; max-height:100%;"></p>
			</div>
			<div class="col-md-9 col-xs-12">
				<h3><strong>{{row[1]}}</strong> - <span class="lead">{{row[2]}}</span></h3>
				<p class="bold" style="padding-top:0px;margin-top:0px; text-align:justify"> {{row[3]}} </p>
			</div>
		</div>
    </section>
    
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-none">View {{row[1]}}'s Products</h2>
				<ul class="list-inline">
				{% for brand_cat in available_brand_cat %}
					<li><a href="{{ url_for('products_by_categories',brand_id=row[0],cat_id=brand_cat[0]) }}"><span style="font-size:1.15em">{{brand_cat[1]}}</span></a></li>
				{% endfor %}
				</ul>  
				<br>
			</div>
		</div>
	{% endfor %}	

		{% for row in product_data : %}
	    <div class="row">
	    	<a href="/product/{{row[0]}}">
				<div class="col-md-3 col-xs-12">
					<p style="text-align:center"><img src="{{ url_for('uploaded_img', filename=row[4]) }}" style="max-width:100%; max-height:100%;"></p>
				</div>
				<div class="col-md-9 col-xs-12" style="font-size:1.2em">
					<h3><strong>{{row[1]}}</strong></h3>
					<p style="text-align:justify"> {{row[2]}} </p>
					<p class="bold" style="text-align:justify">
						{% if row[5] != "" %}
						Download:<br>
						<a href="{{ url_for('uploaded_files', filename=row[5]) }}"style="display:inline"target="_blank">
							<span class="lead" style="font-size:1.0em">Brochure</span>
						</a>
						{% endif %}
						{% if row[6] != "" %}
						<a href="{{ url_for('uploaded_files', filename=row[6])}}"style="display:inline"target="_blank">
								<span class="lead" style="font-size:1.0em"> | Manual</span>
						</a>
						{% endif %}
					</p>
				</div>
			</a>
		</div>
		{% if row != product_data[-1] %}
			<hr class="">
		{% endif %}
		<br>
		{% endfor %}


	</div>	
</div>
{% endblock %}
