{% extends "main.html" %}
{% block content %}
<div role="main" class="main shop">

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<hr class="tall">
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				<div class="thumbnail">
					<img src="{{ url_for('uploaded_img', filename=product_data[4]) }}" style="max-width:100%; max-height:100%;">
				</div>
			</div>

			<div class="col-md-6">
				<h1 class=""style="font-weight:bold;">{{product_data[1]}}</h1>
				<p class="mb-none"style="font-size:1.35em;"> {{product_data[2]}} </p>
				<br class="tall">
				<a href="{{url_for('contact_us')}}"><button type="button" class="mb-xs mt-xs mr-xs btn btn-borders btn-lg btn-info"><i class="fa fa-phone"></i> Contact Us</button></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tabs tabs-product" style="font-size:1.15em;">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#productInfo" data-toggle="tab">Additional Information</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="productInfo">
							<table class="table" style="margin-top:20px;">
								<tbody>
									<tr>
										<th>
											Product Name:
										</th>
										<td>
											{{product_data[1]}}
										</td>
									</tr>
									<tr>
										<th>
											Product Brand:
										</th>
										<td>
										<a href="{{url_for('products_by_brands',brand_id=product_data[8])}}">
											{{brand_data[1]}}
										</a>
										</td>
									</tr>
									<tr>
										<th>
											Product Category:
										</th>
										<td>
											<a href="{{url_for('products_by_categories',brand_id = product_data[8], cat_id = product_data[7])}}">
												{{cat_data[1]}}
											</a>
										</td>
									</tr>
									{% if product_data[5] != "" %}
									<tr>
										<th>
											Download Brochure:
										</th>
										<td>
											<a href="{{ url_for('uploaded_files', filename=product_data[5]) }}" target="_blank">{{product_data[5]}}</a>
										</td>
									</tr>
									{% endif %}
									{% if product_data[5] != "" %}
									<tr>
										<th>
											Download Manual:
										</th>
										<td>
											<a href="{{ url_for('uploaded_files', filename=product_data[6]) }}"target="_blank">{{product_data[6]}}</a>
										</td>
									</tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}