{% extends "main.html" %}
{% block content %}
<div role="main" class="main">
    <section class="section section-default">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="mt-lg"><strong>Products</strong> we carry</h1>
					<p class="lead">
						To cater to the need of our customers for the smallest bakery to large industrial bakeries, we carry a wide range of equipments ranging from industrial ovens to large production lines. 
					</p>
					<div class="header-search">
						<form id="searchForm" action="{{url_for('search_products')}}" method="Post" enctype="multipart/form-data">
							<div class="input-group">
                                {{ form.search_product(class="form-control") }}
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4 mt-lg">
					
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<h2 class="mt-lg"><strong>Products</strong> matching your search</h2>
		<br class="tall">
		{% if not product_data: %}
			<p class="lead" style="text-align:center"> No such product found. <br> Please ensure you have keyed in the right name.</p>
			<p class="lead" style="text-align:center"> <a href="{{url_for('brands')}}"><i class="fa fa-caret-left"></i>Back</a> </p>
		{% endif %}
		{% for row in product_data : %}
	    <div class="row">
	    	<a href="/product/{{row[0]}}">
				<div class="col-md-3 col-xs-12">
					<p style="text-align:center"><img src="/uploads/{{row[4]}}" style="max-width:100%; max-height:100%;"></p>
				</div>
				<div class="col-md-9 col-xs-12">
					<h3><strong>{{row[1]}}</strong></h3>
					<p class="lead">{{row[2]}}</p>
				</div>
			</a>
		</div>
		{% if row != product_data[-1] %}
			<hr class="">
		{% endif %}
		<br>
		{% endfor %}
	</div>	
</div>
{% endblock %}
