{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Categories</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Update Categories
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        {% for row in data : %}
                        <form role="form" action="{{row[0]}}" method="Post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.name.label }}
                                {{ form.name(class="form-control") }}
                            </div>        
                            <div class="form-group">
                                {{form.submit(class="btn btn-sm btn-success")}}
                                {{form.delete(class="btn btn-sm btn-danger")}}
                            </div>                    
                        </form>
                        {% endfor %}
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <ol>
                        <h4>Existing Categories</h4>
                        {% for row in data2 : %}
                        <li><a href="/update_categories/{{row[0]}}">{{row[1]}}</a></li>
                        {% endfor %}                            
                        </ol>
                       
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}