{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Featured Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
	</div>
	<div class="panel panel-default">
        <div class="panel-heading">
            Add New Featured Brands
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
            	{% for row in data %}
            	<form role="form" action="{{row[0]}}" method="Post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.brand_id.label }}
                        {{ form.brand_id(class="form-control") }}
                    </div>  
                    <div class="form-group">
                        {{ form.display_name.label }}
                        {{ form.display_name(class="form-control") }}
                    </div>  
                    <div class="form-group">
                        {{ form.upload_image.label }}
                        {{ form.upload_image(class="form-control") }}
                    </div>  
                    <div class="form-group">
                        {{form.submit(class="btn btn-success btn-sm")}}
                        {{form.delete(class="btn btn-sm btn-danger")}}
                    </div>                    
                </form>
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <ol>
                <h4>Existing Featured Brands</h4>
                {% for row in data2 : %}
                <li><a href="{{url_for('update_featured_products', xx=row[0])}}">{{row[3]}} - {{row[2]}}</a></li>
                {% endfor %}                            
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}
