{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h5>{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Update Products
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        {% for row in data : %}
                        <form role="form" action="{{row[0]}}" method="Post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.name.label }}
                                {{ form.name(class="form-control") }}
                            </div>    
                            <div class="form-group">
                                {{ form.description.label }}
                                {{ form.description(class="form-control") }}
                            </div>   
                            <div class="form-group">
                                <label>Exisiting Image</label>
                                <a href="http://localhost:5000/uploads/{{row[4]}}">{{row[4]}}</a>
                                {% if row[4] == null : %}
                                    <p>There is currently no image found for this brand</p>
                                {% else %}
                                    <p style="text-align:center"><img src="{{ url_for('uploaded_img', filename=row[4]) }}" style="max-width:100%; max-height:100%;"></p>
                                {% endif %}
                                <label>Replace Image</label>
                                <p>By replacing the Image, previous copy of this image would be removed</p>
                                {{ form.upload_image.label }}
                                {{ form.upload_image(class="form-control") }}
                            </div> 

                            <div class="form-group">
                                <label>{{form.upload_catalogue.label}}</label>
                                
                                {% if row[5] == "" : %}
                                    <p>There is currently no Catalogue found for this brand</p>
                                {% else %}
                                    <p><a href="{{ url_for('uploaded_files', filename=row[5])}}"target="_blank">{{row[5]}}</a></p>
                                {% endif %}
                                <label>Replace Catalogue</label>
                                <p>By replacing the File, previous copy of this file would be removed</p>
                                {{ form.upload_catalogue(class="form-control") }}
                            </div> 

                            <div class="form-group">
                                <label>Exisiting Manual</label>
                                {% if row[6] == "" : %}
                                    <p>There is currently no image found for this brand</p>
                                {% else %}
                                <p><a href="{{ url_for('uploaded_files', filename=row[6])}}"target="_blank">{{row[6]}}</a></p>
                                {% endif %}
                                <label>Replace Manual</label>
                                <p>By replacing the File, previous copy of this file would be removed</p>
                                {{ form.upload_manual(class="form-control") }}
                            </div> 

                            <div class="form-group">
                                {{ form.brand.label }}
                                {{ form.brand(class="form-control") }}
                            </div> 

                            <div class="form-group">
                                {{ form.category.label }}
                                {{ form.category(class="form-control") }}
                            </div> 

                            <div class="form-group">
                                {{ form.display_id.label }}
                                {{ form.display_id(class="form-control") }}
                            </div> 
                                   
                            <div class="form-group">
                                {{form.submit(class="btn btn-success btn-sm")}}
                                {{form.delete(class="btn btn-sm btn-danger")}}
                            </div>                    
                        </form>
                        {% endfor %}
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <ol>
                        <h4>Existing Products</h4>

                        {% for brand in brand_data %}
                            {% for row in data2 : %}
                            {% if row[8]|int == brand[0] %}

                                {% if row[9] != None: %}
                                    <li value="{{row[9]}}"><a href="{{url_for('update_products', xx=row[0])}}">{{brand[1]}} - {{row[1]}}</a></li>
                                {% else: %}
                                    <li value="0"><a href="{{url_for('update_products', xx=row[0])}}">{{brand[1]}} - {{row[1]}}</a></li>
                                {% endif %}
                            {% endif %}

                            {% endfor %}   

                        {% endfor %}              


                        </ol>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}