{% extends "admin_template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Update Password</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Update Password
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="/update_password" method="Post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.old_password.label }}
                                {{ form.old_password(class="form-control") }}
                            </div> 
                            <div class="form-group">
                                {{ form.new_password.label }}
                                {{ form.new_password(class="form-control") }}
                            </div> 
                            <div class="form-group">
                                {{ form.submit(class="btn btn-info") }}
                            </div> 
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}


